<%- include('partials/header', {title:"Home"}) -%>
<head>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h2>Welcome to Music Hub, where you can Create, Connect, and Collaborate with fellow musicians and fans. Click one of the following links so we can help you on your musical journey:</h1>
  <br> Browse our registered musicians <a href="/musicians/">here</a>.
  <br> View our catalog of tracks by our registered musicians <a href="/tracks/">here</a>.
  <br> Apply to be a registered musician by submitting an application <a href="/musicianCreate/">here</a>.
  <br> If you are a registered musician and wish to catalog a track, submit its information <a href="/trackCreate/">here</a>.
</body>
<%- include('partials/footer') -%>
