<%- include('partials/header', {title:"Create Musician"}) -%>
<head>
  <link rel="icon" type="image/png" href="images/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h2>Create a New Musician!</h2>

<form action="/musicianCreate" method="POST">
  <label for="stageName">Stage Name:</label>
  <input type="text" id="stageName" name="stageName" value=""><br>
  <label for="name">Real Name(s):</label>
  <input type="text" id="name" name="name" value=""><br>
  <label for="years">Years of Experience:</label>
  <input type="text" id="musicians" name="musicians" value=""><br>
  <label for="label">Label:</label>
  <input type="text" id="label" name="label" value=""><br>
  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" value=""><br>
  <label for="count">Track Count:</label>
  <input type="text" id="count" name="count" value=""><br>
  <label for="tracks">Tracks:</label>
  <input type="text" id="tracks" name="tracks" value=""><br>
  <label for="biography">Biography:</label>
  <input type="text" id="biography" name="biography" value=""><br>
  <br><br>
  <input type="submit" value="Create a new musician!">

</form>

<%- include('partials/footer') -%>
