<%- include('partials/header', {title:"Create Musician"}) -%>

<h2>Create a New Musician!</h2>

<form action="/musicianCreate" method="POST">
  <label for="stageName">Stage Name:</label>
  <input type="text" id="stageName" name="musicianStageName" value=""><br>
  <label for="name">Real Name(s):</label>
  <input type="text" id="name" name="musicianName" value=""><br>
  <label for="years">Years of Experience:</label>
  <input type="text" id="years" name="musicianYears" value=""><br>
  <label for="label">Label:</label>
  <input type="text" id="label" name="musicianLabel" value=""><br>
  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="musicianGenre" value=""><br>
  <label for="count">Track Count:</label>
  <input type="text" id="count" name="musicianCount" value=""><br>
  <label for="tracks">Genre:</label>
  <input type="text" id="tracks" name="musicianTracks" value=""><br>
  <label for="biography">Genre:</label>
  <input type="text" id="biography" name="musicianBiography" value=""><br>
  <br><br>
  <input type="submit" value="Create a new musician!">

</form>

<%- include('partials/footer') -%>
