div {
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 1000px;
  margin-left: 0px;
  background-color: #00FF00;
  padding: 0px;
}

div:hover {
  background-color: #09F966;
}

body{
  margin-left:25px;
}

table {
  background-color: #FFFFFF;
  width: 70%;
}

table, th, td {
  border: 1px solid black;
  padding: 16px;
  text-align: center;
}

tr:hover {
  background-color: #FFFFFF;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 50%;
  text-align: center;
}

ul {
  background-color: #00FF00;
}

ul:hover {
  background-color: #09F966;
}
